/* adding comments to css I found to explain what it does */

/* border collapse lets element borders meet (or "collapse") each other */
table, th, tr, td{
    border: 1px solid black;
    border-collapse: collapse;
    height: max-content;
}

thead{
    background-color: lightgray;
}

/*  sets background color of odd children of the table body */
tbody tr:nth-child(odd){ 
    background: #fcfcfc;
  }

/*  sets background color of odd children of the table body */
tbody tr:nth-child(even){
    background: #dcdcdc;
}

h1{
    /* em resizes text to be 2.5 times the font size in pixels - ex: font size 16 = 40 pixels (16 * 2.5) */
    font-size: 2.5em;
    color: white;
}

.super-secret{
    color: red;
}

.tfooter-element{
    border: 1px solid black
}

/* display: flex enables flexbox functionality */
#submit-flex{
    display: flex;   
}

#target-table{
    display: flex;
    text-align: center;
}

header{
    height: 8em;
    background-color: grey;
    text-align: center;
}

header, footer {
    height: 100%;
    display: flex;
    /* justify-content sets along main axis of container */
    justify-content: center;
    /* align-items sets item based on cross axis */
    align-items: center;
}

/* tells table element to automatically adjust to take up 100% of the width of the browser */
table {
    width: 100%;
    text-align: left;
}